# Required
OS_AUTH_URL=https://api.selvpc.ru/identity/v3
OS_USERNAME=your_username
OS_PASSWORD=your_password
OS_PROJECT_ID=your_project_id

# Optional
# OS_PROJECT_NAME=your_project_name
# OS_USER_DOMAIN_NAME=Default
# OS_PROJECT_DOMAIN_NAME=Default
# OS_REGION_NAME=ru-9
# OS_COMPUTE_ENDPOINT=https://api.selvpc.ru/compute/v2.1
